body {
    margin: 0px;
    font-family: 'Roboto', sans-serif !important;
    text-align: center;
}
nav ul li {
    display: inline-block;
}

#giuliaimg {
    height: 300px;
    width:auto
}
header {
    background-color: #3196A8;
    color: white;
}

header, section {
    padding: 7% 7% 0% 7%;
}
.whitelink {
    color: white
}

.active {
    color: #3196A8;
    background-color: white;
    border-radius: 3px 3px 0px 0px;
}

.nounderline {
    text-decoration: none;
    padding: 10px 10px 0px 10px;
}

img {
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
  }

img:hover {
    opacity: 1.0;
  }